RewriteEngine on

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://ashishswami22.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ashishswami22.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ashishswami22.com.cp-ht-1.bigrockservers.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ashishswami22.com.cp-ht-1.bigrockservers.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ashishswami22.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ashishswami22.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ashishswami22.com.cp-ht-1.bigrockservers.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ashishswami22.com.cp-ht-1.bigrockservers.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ashishswami22.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ashishswami22.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ashishswami22.com.cp-ht-1.bigrockservers.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ashishswami22.com.cp-ht-1.bigrockservers.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ashishswami22.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ashishswami22.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ashishswami22.com.cp-ht-1.bigrockservers.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ashishswami22.com.cp-ht-1.bigrockservers.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

